<ul style="margin: 0; width:100%;overflow-y:scroll;">

    <li *ngFor="let tile of tiles">
        <a style="width:100%;height:50px; display:block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    line-height: 50px;
    border:solid 1px #cccccc;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;" [style.backgroundColor]="tile!=selectedTile?'#26a69a':'#FFa69a'" (click)="selectTile(tile)"><img src="{{tile.image}}" />{{ tile.name }}</a>
    </li>
</ul>